
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hola, Bienvenido</h1>
        <h5>¡Haz tu registros de conocimientos!</h5>
        <p>Crea y registra todos tus comandos para poder usarlos <strong>Cuando</strong> y <strong>Donde</strong> quieras !!!!</p>
        <p><a class="btn btn-primary btn-lg" routerLink="register" role="button">Registra tu conocimiento »</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

        <div class="col-md-5">
          <h2>Editar</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" routerLink="editar" role="button">Editar Line »</a></p>
        </div>

        <div class="col-md-5">
          <h2>Eliminar</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>

      </div>

      <hr>
    </div> <!-- /container -->

  </main>
